.navigation {
  padding: 28px 16px;
  background-color: var(--c-black80);
  width: 240px;
  height: 100%;

  .activePage {
    background-color: var(--c-beige-20);
    color: var(--c-beige-80);
    opacity: 1;
  }

  :global {
    button {
      svg {
        margin-right: 16px;
      }
    }

    a {
      display: block;

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

}