@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "./variables.scss";
@import "../constans/media";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
}